nav li {
    display: inline-block;
}
nav ul {
    padding: 0px;
    }
p {
     font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    }

h1, h2 {
    font-family: Stalinist One,'Arial','Helvetica'; 
    font-style: normal;
    font-weight: 400;
    color: white;
   }   
   h1 {
     font-size: 37px;
    }   
    h2 {
        font-size: 35px;
    }  
h3 {
    font-family: 'Press Start 2P','Arial','helvetica'; 
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
   } 

body {
    margin: auto;
    min-height: 150vh;   
} 
footer {
    background-color: #F2C849; 
    min-height: 700px;
    margin-top: 1em;
} 

button {
    background-color: #0F8C52; 
    border: none;
    min-height: 4em;
    min-width: 100%;
} 

main {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    margin: none;
} 

.info,.visit-info {   
    display: block;
    background-color: #F2C849;
    max-width: 500px;
    padding: 3em;
    min-height: 650px;
    } 

.footer {
    display: flex;
    flex-direction: column;
    margin-left: 10em;
    }
    .res,.contact,.follow {
        flex: 1;
        list-style-type: none; 
    }
    
      /*index mobile*/

.header-img {
    flex: 1;
    max-width: 100%;
    height: auto;
} 

.block1,.block2 {
    display: block;
    flex: 1;
    min-height: 400px;
} 

.block1 {
    background-color: #F24452;
} 

.block2 {
    background-color: #0F8C52;
} 
.info {
    display: none;
}
.info-mobile {
    flex: 1;
    background-color: #F2C849;
    min-height: 200px;
    text-align: center;
}
.explore {
    display: block;
    background-color: #5EADF2;
    flex: 1;
    min-height: 200px;
    text-align: center;
} 
.events-index {
    display: block;
    background-color: #5EADF2;
    flex: 1;
    min-height: 600px;
    text-align: center;
} 
.event2, .event3 {
    display: none;
}
.skisse{
    display: block;
    background-color: lightgray;
    max-width: 300px;
    min-height: 200px;
    margin-left: 85px;
}

.button {
    display: block;
    background-color: #0F8C52;
}

/* about mobile*/

.header-one, .header-one-kids, .header-one-teachers {
    display: block;
    background-color: #5EADF2;
    flex: 1;
    min-height: 200px;
    text-align: center;
} 
.paragraph-one,.info-support,.info-volunteer,.info-internship,
.paragraph-one-e,.paragraph-two-e,.paragraph-three-e,.paragraph-four-e,.paragraph-five-e {
    display: block;
    flex: 1;
    min-height: auto;
    padding: 30px;
    padding-right: 70px;
    padding-left: 50px;
} 
.header-two {
    display: block;
    background-color: #F24452;
    flex: 1;
    min-height: 200px;
    text-align: center;
} 
.paragraph-one {
    background-color: #C1DEF8;
} 
.info-support {
    background-color: #F4BDC1;
} 
.info-volunteer {
    background-color: #FCE6A6;
} 
.info-internship {
    background-color: #9FE0AE;
} 
.contact-us {
    display: block;
    background-color: #C1DEF8;
    flex: 1;
} 
form {
    border-radius: 20px;
    text-align: center;
    flex: 1;
    padding: 30px;
    margin: 1em;
    min-height: 450px;
    min-width: 400px;
}
input {
    width: 100%;
    height: 30px;
    margin: 1em;
} 
.input {
    width: 100%;
    min-height: 350px;  
} 
fieldset {
    margin-top: 3em;
    border: 0 none;
    margin-bottom: 3em;
    }        
    
    legend span.accessibility {
        position: absolute;
        left: -9999px;
        width: 100px;
        height: auto;
        overflow: hidden;
    }

 

/*for kids mobile*/

.header-one-kids {
    background-color: #F24452;
} 
/*for teachers mobile*/
.header-one-teachers {
    background-color: #0F8C52;
} 

/* for exibitions and events*/

.paragraph-one-e {
    background-color: #F4BDC1;
} 

.paragraph-two-e {
    background-color: #FCE6A6;
} 

.paragraph-three-e {
    background-color: #C1DEF8;
} 

.paragraph-four-e {
    background-color: #9FE0AE;
} 

.paragraph-five-e {
    background-color: #F4BDC1;
} 

    @media only screen and (min-width: 600px) { 

        header {grid-area: header;}
        main {grid-area: main;}
        .picture {grid-area: picture;}
        .explore {grid-area: explore;}
        .info {grid-area: info;}
        .block1 {grid-area: block1;}
        .block2 {grid-area: block2;}
        .events-index {grid-area: events-index;}
        footer {grid-area: footer;}
        
        /*  index  */
        
        #main-index {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1em;
            grid-template-areas: 
            'picture picture picture'
            'explore explore info'
            'block1 block2 info'
            'events-index events-index events-index'
            'footer footer footer'
        } 
        
        .block1,.block2 {
            display: block;
        } 
        .block1 {
            background-color: rgb(255, 71, 71);
        } 
        .block2 {
            background-color: rgb(62, 128, 36);
        } 
        .header-img {
            max-width: 100%;
            height: auto;
        } 
        .explore {
            display: block;
            background-color: #5EADF2;
        } 

        .info {
            display: block;
         }
        
        .info-mobile {   
            display: none;
            }  
        
        .events-index {
            display: flex;
            flex-direction: row;
         }

         
        .event1, .event2, .event3 {
            display: flex;
            display: block;
            max-width: 300px;
            grid-gap: 2em;
         }
         .footer {
            display: flex;
            flex-direction: row;
         }

    }